# Directories
**/bin/
!vendor/premake/bin/
bin-int/
Intermediates/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

**.idea

# Engine specific files
**.log